*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// admim@uncommon24!

@font-face{
    font-family: "GreatVibes-Regular-webfont";
    src: url("GreatVibes-Regular-webfont.ttf");
}

@font-face{
    font-family: "JosefinSans-Regular";
    src: url("JosefinSans-Regular.ttf");
}

body{
    overflow-x: hidden;
    background-color: #000;
}
// banner

// hamburger menu 


.nav-links{
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  }
  
  .nav-links li a{
      color:white;
      border-radius: 5%;
      // width: 40px;
      text-decoration: none;
      font-size: 15px;
      font-family: "JosefinSans-Regular";
      font-weight: 100;
      
  
  }
  
  .nav-links li a:hover{
      //  background-color: white;
      // color:blue;
      padding: 3px 10px;
      // border-radius: 20px;
      transition: 0.5s ease;
      background: #0cf;
      color: white;
      box-shadow: 0 0 10px #0cf;
      border: none;
     
  }
  
  .line{
      width: 30px;
      height: 3px;
      background: white;
      margin: 5px;
  
  }
  
  
  
      .hamburger{
          position: absolute;
          cursor: pointer;
          right: 5%;
          top: 9%;
          transform: translate(-5%, -50%);
          z-index: 2;
          display: none;
      }
  
  
      .hamburger.active .line:nth-child(1){
          top: 50%;
          transform: rotate(45deg) translate(20%, -50%);
          transition: 0.9s ease;
          
  
  }
  
  
  .hamburger.active .line:nth-child(2){
      top :-50%;
      transform: rotate(-45deg) translate(25%, 50%);
      transition: 0.9s ease;
      bottom: -10px;
         
  
  }
  
  
  
  .hamburger.active .line:nth-child(3){
      opacity: 0;
      transition: 0.9s;
  }
  
  
      .nav-links{
          position: absolute;
          background-color:#010101;
          height: 67vh;
          width:92%;
          flex-direction: column;
          clip-path: circle(1000px at 90% 10%);
          -webkit-clip-path:circle(100px at 90% -20%);
          transition: all 0.6s ease-out ;
      }
      .nav-links.open{
          clip-path: circle(2000px at 90% -10%);
          -webkit-clip-path:circle(2000px at 90% -20%);
      }
  
      .nav-links li {
          opacity: 1;    
      }
  
      
      .nav-links li a {
          font-size: 25px;      
      }

   

// hamburger menu 

.banner{
    padding: 25px 40px 50px 40px;
    background-color: #000;
    

    .navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
       
    }

    .logo{
        height: 9vh;
        width: 98px;
        object-fit: contain;
    }
    
    li{
        list-style: none;


    }

    ul{
        display: flex;
    }

   .navi a{
        display: flex;
        text-decoration: none;
        color: white;
        padding: 8px;
        font-family: "JosefinSans-Regular";

    }

    .navi .mill {     
        color:#742296;
        font-weight: bold;
   }
    .name{
        color: white;
        display: flex;
        justify-content: space-around;
    }


    // gvschvchVJV FHKv

    a {
        box-shadow: 3px 3px 12px 2px rgba(black, 0.6);
        transition: 0.2s;
      }

      a:not(:first-child) {
        margin-top:45px;
        transition: 0.2s;
      }
      a:not(:last-child):hover,
      a:not(:last-child):focus-within {
        transform: translateY(-10rem);
        ~ a {
          transform: translateX(10rem);
        }
      }
    // hkhbvfjgbrwwtnk

    .wiw{
        // height: 267px;
        // width: 255px;
        height: 257px;
        width: 245px;
        -o-object-fit: contain;
        object-fit: cover;
        margin-top: 35px;
        border-radius: 50%;
        max-width: 100%;
        
    }

    h1{
      font-size: 34px;
      margin-top: 70px;
      padding-bottom: 28px;
      line-height: 1, 8;
      font-family: "JosefinSans-Regular";
      width: 100%;
  

       span{
        color:#742296;
       }
    }

    .gud{
        text-decoration: none;
        color: white;
        padding: 7px 10px;
        border: 1px solid #742296;
        margin-top: 10px;
        border-radius: 5%;
        font-family: "JosefinSans-Regular";
        
    }

    .kill{
        text-decoration: none;
        color: white;
        padding: 7px 19px;

        border: 1px solid #742296;
        margin-top: 10px;
        border-radius: 5%;
        margin-left: 20px;
        font-family: "JosefinSans-Regular";
        
    }

    a:hover{
        background: #0cf;
        color: white;
        box-shadow: 0 0 10px #0cf;
        border: none;
      }
}



 //   about us page
.put{
  padding: 30px 0;
    background-color:#090910;

    h2{
        font-size: 24px;
        // width: 100%;
        padding: 35px 40px 30px 40px;
        margin-bottom: 0px;
        font-family: "JosefinSans-Regular";
        font-weight: bold;
        color: white;
            
     }

    
    
.about{
    padding: 0 40px 40px;
    color: white;


    

     
         h3{
            font-size: 24px;
            padding-bottom: 15px;
            font-family: "JosefinSans-Regular";
        }

        span{
            color: #742296;
        }
         p{
            font-size: 13px;
             width: 83.5%;
            padding: 0px;
            font-family: "JosefinSans-Regular";
            margin-bottom: 25px;
        }

        a{
            text-decoration: none;
            font-size: 13px;
            color: white;
            padding: 5px 10px;
            margin-top: 10px;
            border-radius: 2px;
            font-family: "JosefinSans-Regular";
            background-color: #742296;
            border-top: none;
            border-left: none;
            border-right: none;

            span{
                color: #fff;
                font-weight: bolder;
            }
        }

        a:hover{
            background: #0cf;
            color: white;
            box-shadow: 0 0 10px #0cf;
            border: none;
          }

      

 }


}
// skills

.graft{
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;

    h2{
        font-size: 24px;
        padding-bottom: 15px;
        font-family: "JosefinSans-Regular";
        width: 100%;
       font-weight: bolder;
    }
}


.btn-bootstrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-tag_bootstrap {
    margin: 30px 0px 0px 0px;
    text-align: center;
}

.conter{
    height: 235px;
    // width: 149px;
    // height: 28vh;
    width: 24%;
    border: 2px solid;
    border-left-color: #0cf;
    border-right-color: #0cf;
    border-top-color: #d80aa8;
    border-bottom-color: #d80aa8;
    color: #000;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-direction: column;
    position: relative;


    
   a{
    text-decoration: none;
    font-size: 12px;
    color: white;
    padding: 4px 13px;
    margin-top: 10px;
    border-radius: 2px;
    font-weight: 100;
    font-family: "JosefinSans-Regular";
    background-color: #742296;
    border: none;
    border: 1px solid #742296;
    display: flex;
    text-align: center;
    align-items: center;
   
}
    

img{
    width: 41px;
    border-radius: 50%;
    background: #021a2f;
    margin-bottom: -28px;
   
  }

  a:hover{
    background: #0cf;
    color: #000;
    box-shadow: 0 0 10px #0cf;
    border: none;
  }
  

  p {
    margin-top: 0;
     margin-bottom: 0;
}

}
  .conter .image-section{
    // height: 100%;
    // width: 100%;
    // height: 235px;
    // width: 149px;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    top: 15%;
    // left: 50%;
    transform: translate(-50%,-50%);
    transition: .6s ease;
    overflow: hidden;
    opacity: 100%;
  }
  
  .conter:hover .image-section{
    top: 5%;
    // height: 235px;
    // width: 149px;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    opacity: 100%;
  }
  


  h4{
        font-size: 24px;
        padding: 10px;
        font-family: "JosefinSans-Regular";
        font-weight: bolder;
        text-align: center;
        margin-bottom: 10px 0;
  }
  
  p{
    font-size: 12px;
    font-family: "JosefinSans-Regular";
    padding: 0 10px;
    margin-bottom: 0;
    font-weight: 100;
  
  }

 

  .shame{
    display: flex;
    justify-content: center;
  }

  .nice{
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 0;
  }

  .text-content{
    text-align: center;
    color: #fff;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 40%;
    opacity: 0;
    transition: .5s;
  }
  
  .conter:hover .text-content{
    opacity: 1;
    transition-delay: .5s;
  }
  
  .text-content span:nth-child(1){
    letter-spacing: 1px;
    font-size: 32px;
  }
  
  .conter:hover span:nth-child(1){
    animation: TopSlide 1s ease forwards;
    opacity: 0;
  }
  
  @keyframes TopSlide{
    0%{
      transform: translateY(200px);
      opacity: 0;
      filter: blur(5px);
    }
    100%{
      transform: translateY(00px);
      opacity: 1;
      filter: blur(0);
    }
  }
  .text-content span:nth-child(2){
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .conter:hover span:nth-child(2){
    animation: TopSlide 1s ease forwards;
    opacity: 0;
    animation-delay: .2s;
  }
  
  .text-content p{
    font-size: 13px;
    max-width: 300px;
    margin-bottom: 10px;
  }
  
  .conter:hover p{
    animation: TopSlide 1s ease forwards;
    opacity: 0;
    animation-delay: .4s;
  }
  
 
  
  .conter:hover a{
    animation: TopSlide 1s ease forwards;
    opacity: 10%;
    animation-delay: .9s;
  }
  
// portfolio
.services{
    padding: 30px 40px 50px 40px;
    background-color: #090910;

    h2{
        font-size: 24px;
        padding: 10px;
        font-family: "JosefinSans-Regular";
        font-weight: bolder;
        color: white;

        .line1{
            background-color: #742296;
            border: 1px solid white;
            width: 90px;
            margin: 0px 0 25px 
        }

        .carousel-indicators{
            padding-bottom: 20px;
        }
    }


   
    .card-body{
        background-color: #fff;
        color: black;
    }

    .photos{
        width: 100%;
        height: 24vh;
        object-fit: cover;
    }

    .card{
        width: 28.3%;
        height: 56vh;
        border: none;
        margin: 0 15px;
    }

    .cards-wraper{
         display: flex;
         justify-content: center;
         align-items: center;
         
    }

    .card-body {
      // flex: 1 1 auto;
      padding: 5px 9px;
  }

    h5{
      font-size: 16px;
      font-family: "JosefinSans-Regular";
      margin-bottom: 0;
      font-weight: bold;
      padding-top: 6px;
     
    }

    p{
      font-size: 12px;
      font-family: "JosefinSans-Regular";
      margin-left: -9px;
      margin-bottom: 18px;
      margin-top: -13px;
      
    }


    span{
        color: #742296;
    }

    a{
        text-decoration: none;
        font-size: 14px;
        color: white;
        background-color: #000;
        padding: 3px;
        border-radius: 18px;
        font-family: "JosefinSans-Regular";
        display: flex;
        justify-content: center;
    }

    

  
}


//  form

  .contact{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 10px 40px;
    background-color: black;
    object-fit: contain;
    color: white;

    h3{
        font-size: 24px;
        padding-bottom: 15px;
        font-family: "JosefinSans-Regular";
        margin-bottom: 0px;
        font-weight: bold;
    
        span{
            color:#742296
        }
    }

    .line{
        background-color: #742296;
        border: 1px solid #742296;
        width: 131px;
        margin: -16px 0 25px 0;
        padding: 0;
    }

    p{
        font-size: 15px;
        font-family: "JosefinSans-Regular";
        padding: 0;
    }

    

 

  .info{
    // margin-bottom: -20px;
    

    .fonti{
        font-size: 13px;
        font-family: 'GreatVibes-Regular-webfont';
        color: white;
    }

  }
 
  


  .icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #742296;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    }


  }

  
  .form {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
  }
  
  .contact-form {
    position: relative;
  }
  
  .circle {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, #149279);
    position: absolute;
  }
  
 
  
  .circle.two {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
  }
  
  .contact-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #1abc9c;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
  }
  
  form {
    padding: 30px 22px;
    z-index: 10;
    overflow: hidden;
    position: relative;
  }
  
  

  
  .input {
    width: 120%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0px;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.5px;
    border-radius: 5px;
    transition: 0.3s;
}

  
  .fill{
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 13px;
    color: white;
    padding: 5px 14px;
    border-radius: 2px;
    font-family: "JosefinSans-Regular";
    background-color:#742296;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  a:hover{
    background: #0cf;
    color: white;
    box-shadow: 0 0 10px #0cf;
    border: none;
  }

  .form-control {
    display: block;
    width: 100%;
    padding: 5px 78px 5px 7px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-top: -8px;
}
 

textarea {
  resize: vertical;
  width: 100%;
  font-size: 14px;
  margin: 11px 0 7px  0;
  padding: 5px 1px;

}


  
 
  
  .square {
    position: absolute;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(181%, 11%);
    opacity: 0.2;
  }


}

//   footer 
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #021a2f;
    color: white;
    padding: 7px;

    h4{
    font-size: 10px;
    font-family: "JosefinSans-Regular";
    margin-bottom: 0;
  
    }


  }



  



// // media queries for ipad pro 

 

  // media quries for small screens

  
// media queries for small phones 
@media (max-width: 475.98px) {

  .services .card {
    margin-bottom: 52px;
}

.hamburger{
  right: 5%;
  top: 9%;
  display: flex;
}

.nav-links {
  height: 86vh;
  width: 94%;
}

.contact .info {
  margin-left: -37px;
}

}

@media (max-width: 575.98px) {

  // banner 

  .hamburger{
    right: 8%;
    top: 8%;
    display: flex;
    flex-direction: column;
  }

  .line {
    width: 28px;
    height: 2px;
    background: white;
    margin: 3px;
}

  .banner {
    padding: 25px 20px 50px 20px;
}

  .banner .navi a {
    display: none;
}

.banner .wiw {
  display: flex;
    margin: auto;
    margin-top: 38px;
}

.banner .name {
  flex-direction: column;
}

.banner h1 {
  font-size: 30px;
  margin-top: 32px;
  padding-bottom: 28px;
  
}

// about us

.put .about {
  padding: 0 20px 25px;

}

.put .about p {
  font-size: 14px;
  width: 95%;
 
}



.put h2 {
  padding: 8px 20px 24px 20px;
}

// skills
.conter {
  height: 235px;
  width: 45%;
  margin: 0px 0px 11px 11px;
}

.graft {
  padding: 50px 20px;

}

// cards

.services {
  padding: 30px 20px 30px 20px;
}

.cards-wraper{
  flex-direction: column;
  width:100%;
}

.services .card {
  width: 99.3%;
  height: 48vh;
  margin-bottom: 22px;

}

.services p {
  font-size: 17px;
}

.services h5 {
  font-size: 21px;
  padding-top: 0px;
}


.services a {
  font-size: 16px;
  padding: 7px;
}
// form

.contact {
  padding: 25px 20px;
 
}

.contact {
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
}


.contact .info {
  margin-bottom: -20px;
  margin-left: -47px;
}

.contact form {
  padding: 23px 0px;
  
}

.contact .form-control {
  font-size: 19px;
  
}

.contact .info {
  margin-left: -100px;
}

.contact textarea {
  font-size: 19px;
  padding: 3px 10px;
  margin-bottom: 6px;
}

.contact h3 {
  margin-left: 0px;
}

.contact .line {
  margin: -16px 0 25px 0px;
}

.contact {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact textarea {
  font-size: 16px;
  padding: 3px 0px;
  margin-bottom: 6px;
}

}

@media only screen and (min-width:576px) and (max-width: 768px) {
  .services .card {
    width: 31.3%;
    height: 59vh;
    
}

.services .card {
  width: 31.3%;
  height:36vh;
  
}

.contact .info {
  margin-left: 0px;
  padding-right: 50px;
  margin-bottom: -65px;
}


.services .card {
width: 32.3%;
height: 29vh;
margin-bottom: 12px;
}
.services .photos {
  width: 100%;
  height: 12vh;
  -o-object-fit: cover;
  object-fit: cover;
}

.services p {
font-size: 14px;

}

}

@media only screen and (min-width: 991px) and (max-width: 1024px){

  banner//

  .banner .wiw {
    height: 255px;
    width: 255px;
   
}

.banner h1 {
  font-size: 35px;
}

// about 

.put .about p {
  font-size: 9px;
  width: 98%;

}

// skills 
.conter {
height: 228px;
width: 141px;

}


// cards 

.services .card {
width: 31.3%;
height: 33vh;
object-fit: cover;
}

}


@media only screen and (min-width: 1025px) and (max-width: 1366px){

  .banner h1 {
    // font-size: 44px;
    font-size: 54px;
    margin-top: 105px;
}

.banner .wiw {
  height: 366px;
  width: 364px;
}


.banner .kill {
  padding: 10px 19px;
}


.banner .gud {
  padding: 10px 10px;
}

.banner .navi a {
  display: flex;
  text-decoration: none;
  color: white;
  padding: 15px;
  font-family: "JosefinSans-Regular";
  font-size: 23px;
}

.put .about p {
  font-size: 17px;
 
}

.put h2 {
  font-size: 33px;
}

.put .about h3 {
  font-size: 28px;
}

.put .about a {
  font-size: 15px;
  padding: 11px 10px;
}

.conter p {
  font-size: 21px;
}

.conter .image-section {
  height: 82px;
  width: 82px;
 
}

.conter a {
  font-size: 14px;
  padding: 6px 13px;
 
}

.services p {
  font-size: 23px;
 
}

.services h5 {
  font-size: 32px;

}

.services a {
  font-size: 16px;
  padding: 10px; 
}
.contact h3 {
  font-size: 36px;

}




.contact p {
  font-size: 21px;
}

.conter {
    height: 396px;
    width: 24%;
    
}

.services .card {
    width: 28.3%;
    height: 410px;
    
}

.contact .form-control {
    display: block;
    width: 128%;  
}

.contact textarea {
    resize: vertical;
    width: 117%;
}

.contact .fill {
    font-size: 14px;
    color: white;
    padding: 9px 21px;
    width: 120%;
}

.footer h4 {
    font-size: 12px;
}

.services .photos {
    width: 100%;
    height: 19vh;
}

    .services .card {
        height: 40vh;
    }

  .conter {
    height: 406px;
    width: 20%;  
   }

    .conter p {
        font-size: 24px;
    }

.contact form {
    padding: 34px 80px;
}

    

    .contact textarea {
    resize: vertical;
    width: 129%;
    font-size: 16px;
    margin: 11px 0 7px 0;
    padding: 1px 1px 25px 1px;
}

    .contact .fill {
        font-size: 16px;
        padding: 9px 81px;
        width: 129%;
    }

    .contact .line {
    width: 192px;  
}

.contact .form-control {
    padding: 7px 78px 8px 7px;
    font-size: 15px;
    
}

.banner .logo {
    height: 8vh;
    width: 148px;
}

.banner {
    padding: 48px 40px 87px 40px;
    background-color: #000;
}

    .services .card {
        
        height: 370px;
    }
    
    .graft h2 {
    font-size: 37px;
    }

    .services h2 {
    font-size: 36px;
    }

.services h2 .line1 {
    width: 128px;
}

}


@media only screen and  (min-width: 1400px)  and  (max-width: 1540px) {

  .banner .logo {
    height: 10vh;
    width: 206px;
}


.banner .navi a {
padding: 8px;
font-size: 26px;
}

.banner h1 {
font-size: 50px;
margin-top: 108px;

}

// .banner .wiw {
//   height: 355px;
//   width: 355px;
//   margin-top: 50px;

//   }

.banner .wiw {
  height: 350px;
  width: 350px;
  margin-top: 32px;
}

.banner {
  padding: 45px 40px 68px 40px;
  background-color: #000;
}

.banner .kill {
font-size: 25px;
padding: 16px 28px;
}

.banner .gud {
font-size: 25px;
padding: 16px 17px;
}

// about 

.put .about p {
font-size: 18px;
width: 85%;
margin-bottom: 40px;

}

.put .about .org {
height: 332px;
width: 331px;

}

.put h2 {
font-size: 30px;
padding: 44px 40px 30px 40px;

}

.put .about a {
font-size: 18px;
padding: 9px 12px;
}

.put .about h3 {
font-size: 24px;
font-family: "JosefinSans-Regular";
}

// skills 

.conter {
height: 317px;
width: 260px;
}

p {
font-size: 16px;

}

.nice {
font-size: 37px;

}


.conter img {
width: 73px;

}

.graft h2 {
font-size: 40px;
}

.graft {
padding: 60px 40px;

}

// pronjects 
.services p {
font-size: 21px;
}

.services h5 {
font-size: 28px;
margin-top: 7px;

}

.services a {
font-size: 18px;
padding: 10px;

}


.services .photos {
width: 100%;
height: 16vh;

}


.services .card {
  width: 33.3%;
  height: 36vh;
}

.services h2 {
font-size: 34px;
}

.services p {
  font-size: 27px; 
  margin-bottom: 28px;
}


.services h2 .line1 {
width: 121px;
}

.services h5 {
  font-size: 36px;
  margin-top: 7px;
}

// form 
.contact p {
font-size: 20px;

}

.contact h3 {
font-size: 39px;

}

.contact .line {
width: 212px;
}

.contact input {
width: 138%;
padding: 8px;
margin: 4px 0;

}

.contact a {
// font-size: 23px;
width: 110%;
padding: 10px 25px;
}

.contact .fill {
  font-size: 15px;
  padding: 7px 14px;
  
}


.input {
width: 111%;
padding: 17px;
}


.contact .info {
margin-left: 1px;
padding-right: 50px;
margin-bottom:0px;
}


.contact {

padding: 30px 40px;

}
.contact .form-control {
width: 127%;

}

.contact .form-control {
  padding: 8px 100px 8px 7px;
 
}



.contact textarea {
  width: 130%;
  font-size: 14px;
  padding: 3px 1px 19px 2px;

}
// footer 
.footer h4 {
font-size: 12px;

}

}


// Small Screens (Smartphones)
// 320px: The minimum width for most smartphones in portrait orientation.
// 480px: A common width for many smartphones in landscape orientation.
// Tablets
// 600px: A common breakpoint for small/mini tablets in portrait mode.
//px: A common breakpoint for full-sized tablets in portrait mode.
// Laptops and Desktops
// 992px: A common breakpoint for smaller laptop/desktop screens.
// 1200px: A common breakpoint for larger desktop screens.