* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "GreatVibes-Regular-webfont";
  src: url("GreatVibes-Regular-webfont.ttf");
}
@font-face {
  font-family: "JosefinSans-Regular";
  src: url("JosefinSans-Regular.ttf");
}
body {
  overflow-x: hidden;
  background-color: #000;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

.nav-links li a {
  color: white;
  border-radius: 5%;
  text-decoration: none;
  font-size: 15px;
  font-family: "JosefinSans-Regular";
  font-weight: 100;
}

.nav-links li a:hover {
  padding: 3px 10px;
  transition: 0.5s ease;
  background: #0cf;
  color: white;
  box-shadow: 0 0 10px #0cf;
  border: none;
}

.line {
  width: 30px;
  height: 3px;
  background: white;
  margin: 5px;
}

.hamburger {
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 9%;
  transform: translate(-5%, -50%);
  z-index: 2;
  display: none;
}

.hamburger.active .line:nth-child(1) {
  top: 50%;
  transform: rotate(45deg) translate(20%, -50%);
  transition: 0.9s ease;
}

.hamburger.active .line:nth-child(2) {
  top: -50%;
  transform: rotate(-45deg) translate(25%, 50%);
  transition: 0.9s ease;
  bottom: -10px;
}

.hamburger.active .line:nth-child(3) {
  opacity: 0;
  transition: 0.9s;
}

.nav-links {
  position: absolute;
  background-color: #010101;
  height: 67vh;
  width: 92%;
  flex-direction: column;
  clip-path: circle(1000px at 90% 10%);
  -webkit-clip-path: circle(100px at 90% -20%);
  transition: all 0.6s ease-out;
}

.nav-links.open {
  clip-path: circle(2000px at 90% -10%);
  -webkit-clip-path: circle(2000px at 90% -20%);
}

.nav-links li {
  opacity: 1;
}

.nav-links li a {
  font-size: 25px;
}

h1 {
  color: white;
  animation: text 4s 1;
  animation-name: text;
  animation-duration: 4s;
  animation-iteration-count: twice;
}

@keyframes text {
  0% {
    color: black;
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 10px;
    margin-bottom: -40px;
  }
}
.navi a:before, .navi a:after {
  position: absolute;
  top: 22px;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 4px solid #0277bd;
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  border-radius: 50%;
  background: red;
  content: "";
  opacity: 0;
  transition: all 0.3s;
  z-index: -1;
}

.navi a:after {
  border-width: 2px;
  transition: all 0.4s;
}

.navi a:hover:before {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1);
}

.navi a:hover:after {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1.3);
}

.banner {
  padding: 25px 40px 50px 40px;
  height: 100vh;
  width: 100%;
  background-color: #000;
}
.banner .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.banner .logo {
  height: 9vh;
  width: 98px;
  -o-object-fit: contain;
     object-fit: contain;
}
.banner li {
  list-style: none;
}
.banner ul {
  display: flex;
}
.banner .navi a {
  display: flex;
  text-decoration: none;
  color: white;
  padding: 8px;
  font-family: "JosefinSans-Regular";
}
.banner .navi .mill {
  color: #742296;
  font-weight: bold;
}
.banner .name {
  color: white;
  display: flex;
  justify-content: space-around;
}
.banner a {
  box-shadow: 3px 3px 12px 2px rgba(0, 0, 0, 0.6);
  transition: 0.2s;
}
.banner a:not(:first-child) {
  margin-top: 45px;
  transition: 0.2s;
}
.banner a:not(:last-child):hover,
.banner a:not(:last-child):focus-within {
  transform: translateY(-10rem);
}
.banner a:not(:last-child):hover ~ a,
.banner a:not(:last-child):focus-within ~ a {
  transform: translateX(10rem);
}
.banner .wiw {
  height: 257px;
  width: 245px;
  -o-object-fit: contain;
  object-fit: cover;
  margin-top: 35px;
  border-radius: 50%;
  max-width: 100%;
}
.banner h1 {
  font-size: 34px;
  margin-top: 70px;
  padding-bottom: 28px;
  line-height: 1, 8;
  font-family: "JosefinSans-Regular";
  width: 100%;
}
.banner h1 span {
  color: #742296;
}
.banner .gud {
  text-decoration: none;
  color: white;
  padding: 7px 10px;
  border: 2px solid #742296;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #742296;
  font-family: "JosefinSans-Regular";
}
.banner .kill {
  text-decoration: none;
  color: white;
  padding: 7px 19px;
  border: 1px solid #742296;
  margin-top: 10px;
  border-radius: 5%;
  margin-left: 20px;
  font-family: "JosefinSans-Regular";
}
.banner a:hover {
  background: #0cf;
  color: white;
  box-shadow: 0 0 10px #0cf;
  border: none;
}

/* About Section Styling */
section .content {
  width: 80%;
  font-family: "Poppins", sans-serif;
  margin: 50px auto;
}

section .title {
  margin-bottom: 40px;
}

.topic {
  margin-bottom: 20px;
}

section .title span {
  color: #000;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
  margin-left: -20px;
}

section .title span::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--primary-color);
  left: 0;
  bottom: 0;
}

section .title span::after {
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.about .about-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #091618;
  padding: 30px;
}

.drill {
  border-top: 2px solid #742296;
  border-bottom: 2px solid #742296;
  border-right: 2px solid #0277bd;
  border-left: 2px solid #0277bd;
  padding: 10px;
}
.drill h5 {
  color: white;
}

.drill:hover {
  background-color: #0cf;
  rotate: 20deg;
  transition: all 4s;
}
.drill:hover h5 {
  color: #fff;
}

.about .about-details .left {
  width: 45%;
}

.about .left img {
  height: 360px;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}

.about .about-details .right {
  width: 55%;
}

section .topic {
  color: white;
  font-family: "JosefinSans-Regular";
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 35px;
}

.faint {
  text-align: justify;
  font-family: "JosefinSans-Regular";
  color: white;
  padding: 0;
  margin-bottom: 20px;
}

.about-details .right p {
  text-align: justify;
  color: white;
}

section .button {
  margin: 16px 0;
}

section .button button {
  outline: none;
  font-family: "JosefinSans-Regular";
  padding: 5px 15px;
  border-radius: 4px;
  font-size: 17px;
  font-weight: 400;
  background: #742296;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease;
}

section .button button:hover {
  background-color: #0277bd;
  color: white;
}

.graft {
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  font-weight: bold;
}
.graft h2 {
  font-size: 24px;
  padding-bottom: 15px;
  font-family: "JosefinSans-Regular";
  width: 100%;
  font-weight: bolder;
}

.btn-bootstrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-tag_bootstrap {
  margin: 30px 0px 0px 0px;
  text-align: center;
}

.conter {
  height: 235px;
  width: 24%;
  border: 2px solid;
  border-left-color: #0cf;
  border-right-color: #0cf;
  border-top-color: #d80aa8;
  border-bottom-color: #d80aa8;
  color: #000;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.conter a {
  text-decoration: none;
  font-size: 12px;
  color: white;
  padding: 4px 13px;
  margin-top: 10px;
  border-radius: 2px;
  font-weight: 100;
  font-family: "JosefinSans-Regular";
  background-color: #742296;
  border: none;
  border: 1px solid #742296;
  display: flex;
  text-align: center;
  align-items: center;
}
.conter img {
  width: 41px;
  border-radius: 50%;
  background: #021a2f;
  margin-bottom: -28px;
}
.conter a:hover {
  background: #0cf;
  color: #000;
  box-shadow: 0 0 10px #0cf;
  border: none;
}
.conter p {
  margin-top: 0;
  margin-bottom: 0;
}

.conter .image-section {
  height: 55px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  top: 15%;
  transform: translate(-50%, -50%);
  transition: 0.6s ease;
  overflow: hidden;
  opacity: 100%;
}

.conter:hover .image-section {
  top: 5%;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  opacity: 100%;
}

h4 {
  font-size: 24px;
  padding: 10px;
  font-family: "JosefinSans-Regular";
  font-weight: bolder;
  text-align: center;
  margin-bottom: 10px 0;
}

p {
  font-size: 12px;
  font-family: "JosefinSans-Regular";
  padding: 0 10px;
  margin-bottom: 0;
  font-weight: 100;
}

.shame {
  display: flex;
  justify-content: center;
}

.nice {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 0;
}

.text-content {
  text-align: center;
  color: #fff;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 40%;
  opacity: 0;
  transition: 0.5s;
}

.conter:hover .text-content {
  opacity: 1;
  transition-delay: 0.5s;
}

.text-content span:nth-child(1) {
  letter-spacing: 1px;
  font-size: 32px;
}

.conter:hover span:nth-child(1) {
  animation: TopSlide 1s ease forwards;
  opacity: 0;
}

@keyframes TopSlide {
  0% {
    transform: translateY(200px);
    opacity: 0;
    filter: blur(5px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    filter: blur(0);
  }
}
.text-content span:nth-child(2) {
  letter-spacing: 1px;
  font-size: 18px;
  margin-bottom: 5px;
}

.conter:hover span:nth-child(2) {
  animation: TopSlide 1s ease forwards;
  opacity: 0;
  animation-delay: 0.2s;
}

.text-content p {
  font-size: 13px;
  max-width: 300px;
  margin-bottom: 10px;
}

.conter:hover p {
  animation: TopSlide 1s ease forwards;
  opacity: 0;
  animation-delay: 0.4s;
}

.conter:hover a {
  animation: TopSlide 1s ease forwards;
  opacity: 10%;
  animation-delay: 0.9s;
}

.services {
  padding: 30px 40px 50px 40px;
  background-color: #090910;
}
.services h2 {
  font-size: 24px;
  padding: 10px;
  font-family: "JosefinSans-Regular";
  font-weight: bolder;
  color: white;
}
.services h2 .line1 {
  background-color: #742296;
  border: 1px solid white;
  width: 90px;
  margin: 0px 0 25px;
}
.services h2 .carousel-indicators {
  padding-bottom: 20px;
}
.services .card-body {
  background-color: #fff;
  color: black;
}
.services .photos {
  width: 100%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
.services .card {
  width: 28.3%;
  height: 240px;
  border: none;
  margin: 0 15px;
}
.services .cards-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .card-body {
  padding: 5px 9px;
}
.services h5 {
  font-size: 16px;
  font-family: "JosefinSans-Regular";
  margin-bottom: 0;
  font-weight: bold;
  padding-top: 6px;
}
.services p {
  font-size: 12px;
  font-family: "JosefinSans-Regular";
  margin-left: -9px;
  margin-bottom: 18px;
  margin-top: -13px;
}
.services span {
  color: #742296;
}
.services a {
  text-decoration: none;
  font-size: 14px;
  color: white;
  background-color: #000;
  padding: 3px;
  border-radius: 18px;
  font-family: "JosefinSans-Regular";
  display: flex;
  justify-content: center;
}

.contact-content {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 40px 40px 40px;
  flex-wrap: wrap;
}

.contact .contact-content .left p {
  text-align: justify;
  font-size: 12px;
  margin-top: 20px;
  padding: 0;
}

.sero {
  margin-left: 40px;
  margin-bottom: 0;
  margin-top: 40px;
  font-family: "JosefinSans-Regular";
  font-size: 24px;
  font-weight: bolder;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 12px;
}
.icons i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #742296;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

.main {
  display: flex;
  align-items: center;
}

.poke {
  margin-left: 10px;
  font-size: 19px;
}

.kin {
  font-family: "JosefinSans-Regular";
}

input, textarea {
  caret-color: red;
}

.contact .title::after {
  content: "get in touch";
}

.contact .contact-content .column {
  width: calc(50% - 30px);
}

.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact .contact-content .left p {
  text-align: justify;
}

.contact .contact-content .left .icons {
  margin: 10px 0;
}

.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}

.contact .contact-content .row .info {
  margin-left: 30px;
}

.contact .contact-content .row i {
  font-size: 25px;
  color: crimson;
}

.contact .contact-content .info .head {
  font-weight: 500;
}

.contact .contact-content .info .sub-title {
  color: #333;
}

.contact .right form .fields {
  display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}

.contact .right form .textarea {
  height: 80px;
  width: 100%;
}

.contact .right form .name {
  margin-right: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
  border-color: #b3b3b3;
}

.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}

.contact .right form .button-area {
  display: flex;
  align-items: center;
}

.right form .button-area button {
  color: black;
  display: block;
  width: 132px !important;
  height: 35px;
  outline: none;
  font-size: 12px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  border: 2px solid #742296;
  transition: all 0.3s ease-in-out;
}

.right form .button-area button:hover {
  color: white;
  background: #0cf;
  border: none;
}

.fame {
  margin-bottom: 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #021a2f;
  color: white;
  padding: 7px;
}
.footer h4 {
  font-size: 12px;
  font-family: "JosefinSans-Regular";
  margin-bottom: 0;
}

@media (max-width: 575.98px) {
  .hamburger {
    right: 8%;
    top: 8%;
    display: flex;
    flex-direction: column;
  }
  .line {
    width: 28px;
    height: 2px;
    background: white;
    margin: 3px;
  }
  .banner {
    padding: 25px 20px 50px 20px;
  }
  .banner .navi a {
    display: none;
  }
  .banner .wiw {
    display: flex;
    margin: auto;
    margin-top: 38px;
  }
  .banner .name {
    flex-direction: column;
  }
  .banner h1 {
    font-size: 30px;
    margin-top: 32px;
    padding-bottom: 28px;
  }
  .about .about-details {
    padding: 14px;
    flex-direction: column-reverse;
    align-items: baseline;
  }
  .about-details .right p {
    width: 262px;
    font-size: 13px;
    margin-bottom: 31px;
  }
  .drill {
    padding: 15px;
    margin-top: 20px;
  }
  .conter {
    height: 235px;
    width: 45%;
    margin: 0px 0px 11px 11px;
  }
  .graft {
    padding: 50px 20px;
  }
  .services {
    padding: 30px 20px 30px 20px;
  }
  .cards-wraper {
    flex-direction: column;
    width: 100%;
  }
  .services .card {
    width: 100%;
    height: 176px;
    border: none;
    margin: 0 15px;
    margin-bottom: 100px;
  }
  .services p {
    font-size: 17px;
  }
  .services h5 {
    font-size: 21px;
    padding-top: 0px;
  }
  .services a {
    font-size: 16px;
    padding: 7px;
  }
  .contact-content {
    padding: 10px 20px 20px 20px;
    flex-direction: column;
  }
  .contact form {
    width: 240%;
  }
  .sero {
    margin-left: 20px;
    font-size: 24px;
  }
  .contact .contact-content .left p {
    width: 243%;
  }
  .contact {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .contact .info {
    margin-bottom: -20px;
    margin-left: -47px;
  }
  .contact form {
    padding: 23px 0px;
  }
  .icons {
    gap: 1px;
  }
  .contact .contact-content .left p {
    font-size: 15px;
  }
  .contact .form-control {
    font-size: 19px;
  }
  .contact textarea {
    font-size: 16px;
    padding: 3px 8px;
    margin-bottom: 6px;
  }
  .contact h3 {
    margin-left: 0px;
  }
  .contact .line {
    margin: -16px 0 25px 0px;
  }
  .contact {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .banner {
    height: 46vh;
  }
  .contact textarea {
    margin: 11px 0 7px 0;
    padding: 4px 1px 20px 0px;
  }
  .contact .contact-content .left p {
    font-size: 11px;
  }
}
@media only screen and (min-width: 1200px) {
  .banner {
    padding: 59px 68px 115px 40px;
    background-color: #000;
  }
  .banner h1 {
    font-size: 54px;
    margin-top: 105px;
  }
  .banner .wiw {
    height: 366px;
    width: 364px;
  }
  .banner .kill {
    padding: 10px 19px;
  }
  .banner .gud {
    padding: 10px 10px;
  }
  .banner .navi a {
    display: flex;
    text-decoration: none;
    color: white;
    padding: 15px;
    font-family: "JosefinSans-Regular";
    font-size: 23px;
  }
  .put .about p {
    font-size: 20px;
    margin-bottom: 38px;
  }
  .put h2 {
    font-size: 33px;
  }
  .put .about h3 {
    font-size: 28px;
  }
  .put .about a {
    font-size: 15px;
    padding: 11px 10px;
  }
  .conter p {
    font-size: 21px;
  }
  .conter .image-section {
    height: 82px;
    width: 82px;
  }
  .conter a {
    font-size: 14px;
    padding: 6px 13px;
  }
  .services p {
    font-size: 23px;
  }
  .services h5 {
    font-size: 32px;
  }
  .services a {
    font-size: 16px;
    padding: 10px;
  }
  .contact h3 {
    font-size: 36px;
  }
  .contact p {
    font-size: 21px;
  }
  .conter {
    height: 396px;
    width: 24%;
  }
  .services .card {
    width: 28.3%;
    height: 410px;
  }
  .contact .contact-content .left p {
    font-size: 17px;
  }
  .contact .right form .field input, .contact .right form .textarea textarea {
    height: 124%;
    width: 100%;
  }
  .sero {
    font-size: 37px;
  }
  .right form .button-area button {
    margin-top: 15px;
  }
  .contact .contact-content .left p {
    font-size: 19px;
  }
  .icons i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #742296;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
  }
  .services .card {
    width: 28.3%;
    height: 380px;
  }
  .conter {
    height: 406px;
    width: 20%;
  }
  .conter p {
    font-size: 24px;
  }
  .banner .logo {
    height: 8vh;
    width: 148px;
  }
  .graft h2 {
    font-size: 37px;
  }
  .services h2 {
    font-size: 36px;
  }
  .services h2 .line1 {
    width: 128px;
  }
  .footer h4 {
    font-size: 14px;
  }
  .services .photos {
    width: 100%;
    height: 161px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .juk {
    padding: 0px 49px;
  }
  .contact .right form .field, .contact .right form .fields .field {
    margin-bottom: 24px;
  }
}
@media only screen and (min-width: 1366px) {
  .banner .wiw {
    height: 425px;
    width: 425px;
    margin-top: 62px;
  }
  .banner h1 {
    font-size: 65px;
    margin-top: 122px;
    margin-bottom: 31px;
  }
  .banner .gud {
    padding: 16px 13px;
    font-size: 20px;
  }
  .about-details .right p {
    font-size: 19px;
  }
  section .topic {
    font-size: 45px;
  }
  .drill h5 {
    font-size: 34px;
  }
  section .button button {
    padding: 10px 21px;
    font-size: 18px;
  }
  section .title span {
    font-size: 37px;
  }
}/*# sourceMappingURL=styles.css.map */